# Build
bin/
build/
target/

# JAXB generated code
*.episode
*.factorypath

# Eclipse
.project
.classpath
.settings/
.metadata/
.recommenders/

# Mac OS X
.DS_Store

inventory-console/dependency-reduced-pom.xml

# Java Money API cache exchange rates
.resourceCache
